.Header2{
    width: 100vw;
    margin-top:8px ;
}
.mySwiper-Header2{
    height: 100%;
    width: 100%;
    --swiper-theme-color:red
}
.mySwiper-Header2 .swiper-slide img{
    width: 100%;
    height: 100%;
    
}
.swiper-button-prev, .swiper-button-next{
    color: rgb(255, 0, 0);
}

.description a{
    text-decoration: none;
}