.Advertising-story-container{
    display: flex;
    position: relative;
    width: 100vw;
    height: 8rem;
    background-color: rgb(28, 28, 28);
    overflow-x: scroll;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}
.icon-left{
    position: sticky;
    left: 10px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.icon-right{
    position:sticky;
    right: 10px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.icon-right:hover, .icon-left:hover{
    color: rgb(205, 205, 205);
    transition: 0.5s;
    transform: scale(1.18);    
}

.Pcolor2-style{
    width: 100vw;
    height: 100vh;
    margin-top: 15px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px 10px ;
    overflow: scroll;
}

.Pcolor2-card-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
